@using InvoiceGen_ASPNET.Models
@model CustomerModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create Customer</title>
</head>
<body>
    @using (Html.BeginForm("Create", "Customers", FormMethod.Post))
    {
        <p>@Html.LabelFor(customer => customer.mName)</p>
        @Html.TextBoxFor(customer => customer.mName)
        
        <p>@Html.LabelFor(customer => customer.mAddress)</p>
        @Html.TextBoxFor(customer => customer.mAddress)
        
        <p>@Html.LabelFor(customer => customer.mCity)</p>
        @Html.TextBoxFor(customer => customer.mCity)

        <p>@Html.LabelFor(customer => customer.mState)</p>
        @Html.TextBoxFor(customer => customer.mState)

        <p>@Html.LabelFor(customer => customer.mZipCode)</p>
        @Html.TextBoxFor(customer => customer.mZipCode)

        <button type="submit">Submit</button>
    }

</body>
</html>